<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="Sciezka" value= "C:\archives"/>
		<add key ="Dziennik" value="DziennikProjektu"/>
		<add key ="Zrodlo" value="ZrodloProjektu"/>
		<add key ="ServiceName" value="ProjectService"/>
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="Logowanie" value="4" />
		</switches>
	</system.diagnostics>
</configuration>